<div class="row">
  <div class="col-xs-5">
    <img src="{{selectedone.imgpath}}" alt="" class="img-responsive" style="max-height:500px;" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedone.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appClosedropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="addtoshop()" style="cursor: pointer">Add to shopping list</a></li>
        <li><a [routerLink]="['edit']">Edit Recipe</a></li>
        <li><a >Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedone.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedone.name}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li *ngFor="let ing of selectedone.ingredient" class="list-group-item">{{ing.name}} - {{ing.amount}}</li>
    </ul>
  </div>
</div>

